# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Ice-Skating.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\kelme\Documents\GitHub\Johnny-Albatross\Ice-Skating\.idea\.idea.Ice-Skating\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
